
    <link rel="stylesheet" href="../assets/CSS/employees.css" />
    <%- include('_header')%>
    <!-- Employee Container -->
    <div class="card_container">
      <% for(let i=0;i < employees.length;i++){ %>

      <div class="card_body">
        <h5 class="card_title">Name : <%=employees[i].name %></h5>
        <p>Email : <%=employees[i].email %></p>
        <p>Password : <%=employees[i].password %></p>
        <p>Admin : <%=employees[i].isAdmin %></p>
        <a
          href="/admin/delete-employee/<%=employees[i]._id%>"
          class="btn btn-danger"
          type="DEL"
          >Delete</a
        >
      </div>

      <%}%>
    </div>